<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Данные клиента</title>

    <!--Basic-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">

</head>
<body>

<div class="container-fluid">

    <div class="row">
        <div class="col"></div>
        <div class="col-auto">
            <nav class="navbar navbar-expand-lg navbar-dark navbar-inverse shadow-sm border rounded-bottom bg-success" style="background: #00b300; width: 100rem">
                <a class="navbar-brand" style="color: white" th:href="@{/main}"><i class="fas fa-university"></i> App For Employee</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto" style="width: auto">
                        <li class="nav-item">
                            <a class="nav-link active" th:if="${authorities.contains('create_edit_delete_customer')}" th:href="@{/customers}">Клиенты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:if="${authorities.contains('create_edit_delete_employee')}" th:href="@{/employees}">Сотрудники</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:if="${authorities.contains('create_edit_delete_rights')}" th:href="@{/rights}">Права</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:if="${authorities.contains('create_edit_delete_account')}" th:href="@{/accounts}">Счета</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:if="${authorities.contains('create_edit_delete_card')}" th:href="@{/cards}">Карты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:if="${authorities.contains('create_edit_delete_currency')}" th:href="@{/currencies}">Валюты</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto " style="width: auto; margin-right: 1rem">
                        <li class="nav-item text-light">
                            <a th:text="${loggedEmployee.secondName} + ' ' + ${loggedEmployee.firstName}   + ' ' + ${loggedEmployee.patronymic}"></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav order-1 order-lg-2" style="width: auto">
                        <li class="nav-item d-flex">
                            <a class="nav-link p-0 m-0" href="#" ></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" id="navigations-headers-01" href="#" role="button" data-toggle="dropdown" >
                                <i class="fas fa-user-circle" style="font-size: 20pt;"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navigations-headers-01" style="margin-top: 0.5rem; margin-left: 1rem">
                                <a class="dropdown-item" th:href="@{/profile/edit/}"><i class="far fa-address-card"></i>
                                    Профиль
                                </a>
                                <a class="dropdown-item" th:href="@{/logout}">
                                    <font color="red"><i class="fas fa-sign-out-alt" style="color: red"></i>
                                        Завершить сеанс
                                    </font>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">

        <div class="col"></div>

        <div class="col-auto" style="width: 4rem; margin-right: 5rem" >
            <a th:href="@{/customers}" type="button" class="btn btn-success btn-bg" style="width: 4rem; color: white; margin-top: 3rem"><i class="fas fa-arrow-left"></i></a>
        </div>

        <div class="col-auto" style="width: 70rem" >

            <div>
                <br/>
                <h5 class="display-4">Данные клиента</h5>
                <br/><br/>
            </div>

            <label for="form"><h5 class="display-4" style="font-size: 20pt">Форма редактирования клиента</h5></label>
            <br/><br/>

            <form th:action="@{/customers/{customer_id}/edit/(customer_id=${currentCustomer.id})}" th:method="POST" th:object="${currentCustomer}" id="form" enctype="multipart/form-data">

                <label for="login">Логин</label>
                <a class="form-control rounded border input-group-lg" id="login" th:text="${currentCustomer.login}" style="width: 250px"></a>
                <br/>
                <label for="firstName">Имя</label>
                <input class="form-control rounded border input-group-lg" required id="firstName" type="text" th:field="*{firstName}" placeholder="Введите имя" style="width: 250px"/>
                <br/>
                <label for="secondName">Фамилия</label>
                <input class="form-control rounded border input-group-lg" required id="secondName" type="text" th:field="*{secondName}" placeholder="Введите фамилию" style="width: 250px"/>
                <br/>
                <label for="patronymic">Отчество</label>
                <input class="form-control rounded border input-group-lg" required id="patronymic" type="text" th:field="*{patronymic}" placeholder="Введите отчество" style="width: 250px"/>
                <br/>
                <label for="birthday">Дата рождения</label>
                <input class="form-control rounded border input-group-lg" required id="birthday" type="date" name="birthdayStringValue" th:value="${birthdayStringValue}" placeholder="Введите дату рождения" style="width: 250px"/>
                <br/>
                <label for="document">Документ подтверждающий личность (например, паспорт) формата .png</label>
                <br/>
                <div class="custom-control-inline" id="document">
                    <input th:if="${currentCustomer.getDocument() == null}" class="custom-file" required  type="file" name="file" placeholder="Выберите документ" style="width: 250px"/>
                    <input th:if="${currentCustomer.getDocument() != null}" class="custom-file" type="file" name="file" placeholder="Выберите документ" style="width: 350px"/>
                    <div style="padding-left: 1rem">
                        <a th:href="@{/customers/{customer_id}/edit/file/download/(customer_id=${currentCustomer.id})}" type="button" class="btn btn-success btn-sm" style="width: 7rem; color: white;"><i class="fas fa-download"></i>&nbsp;&nbsp;Скачать</a>
                    </div>
                </div>
                <br/>
                <div class="currentCustomer_action" style="text-align: right;">
                    <button type="submit" class="btn btn-success btn-bg" style="width: 9rem; color: white;"><i class="far fa-save"></i>&nbsp;&nbsp;Сохранить</button>&nbsp;
                    <button type="reset" class="btn btn-secondary btn-bg" style="width: 9rem; color: white;"><i class="fas fa-undo"></i>&nbsp;&nbsp;Отменить</button>&nbsp;
                    <a th:href="@{/customers/{customer_id}/delete/(customer_id=${currentCustomer.id})}" type="button" class="deleteCustomerBtn btn btn-danger btn-bg" style="width: 13rem; color: white;"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Удалить клиента</a>
                </div>
            </form>

            <br/><br/>

            <div>
                <div>
                    <h5 class="display-4" style="font-size: 20pt">Список счетов клиента</h5>
                </div>

                <table class="table table-hover table-bordered" id="actions_table" style="width:100%;">
                    <thead>
                    <tr class="table" style="background: #00b300; color: white">
                        <th class="align-middle">№</th>
                        <th class="align-middle">Номер счёта</th>
                        <th class="align-middle">Дата открытия</th>
                        <th class="align-middle">Дата закрытия</th>
                        <th class="align-middle">Статус</th>
                        <th class="align-middle">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${(currentCustomer.getAccounts() != null || !currentCustomer.accounts.isEmpty()) && authorities.contains('create_edit_delete_account')}"
                        th:each="account, state : ${currentCustomer.accounts}">
                        <td th:utext="${state.index}" style="width: 4rem">...</td>
                        <td th:utext="${account.number}">...</td>
                        <td th:utext="${dateFormat.format(account.openDate)}">...</td>
                        <td th:utext="${dateFormat.format(account.closeDate)}">...</td>
                        <td th:if="${account.status} == true" th:utext="Открыт">...</td>
                        <td th:if="${account.status} == false" th:utext="Закрыт">...</td>
                        <td class="accounts" style="text-align: center; width: 5rem;">
                            <a th:href="@{/accounts/{account_id}/edit/(account_id=${account.id})}" style="color: green;" type="button"
                            ><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <br/><br/>

        </div>

        <div class="col-auto" style="width: 4rem;"></div>
        <div class="col"></div>

    </div>
</div>

<!-- Modal popup - delete current customer-->
<div class="deleteCustomerForm">
    <div class="modal fade" id="deleteCustomerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div style="text-align: right;margin-right: 20px;"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCustomerModalLabel">Удаление клиента</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger" >
                        Вы действительно хотите удалить данного клиента?
                    </p>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="font-size: 10pt">
                        <strong>Обратите внимание!</strong>
                        <span>
                            <span th:if="${!currentCustomer.accounts.isEmpty()}">Данная клиент имеет счет(а).</span>
                            <span th:if="${!currentCustomer.cards.isEmpty()}">Данная клиент имеет карту(ы).</span>
                            <span th:if="${!currentCustomer.cards.isEmpty() || !currentCustomer.accounts.isEmpty()}">Удаление клиента невозможно.</span>
                            <span th:if="${currentCustomer.cards.isEmpty() && currentCustomer.accounts.isEmpty()}">Данный клиент не имеет счетов и карт. Удаление клиента возможно.</span>
                        </span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <a th:if="${currentCustomer.cards.isEmpty() && currentCustomer.accounts.isEmpty()}" href="" class="btn btn-danger" id="delRef">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Basic-->
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


<!--Table-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.js"></script>
<script charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js" type="text/javascript"></script>
<script charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#actions_table").DataTable({
            "pagingType": "full_numbers",
            "paging": false,
            "ordering": true,
            "info": false,
            "searching": false,
            "columnDefs": [{ orderable: false, "targets": -1 }],
            "searchable": false, "targets": 0,
            "language": {
                "processing": "Подождите...",
                "search": "Поиск счетов:",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 (из 0 записей)",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "Список счетов пуст",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            }
        });
    });
</script>


<!--modal popup script to delete current employee-->
<script>
    $(document).ready(function () {
        $('.currentCustomer_action .deleteCustomerBtn ').on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');
            $('#deleteCustomerModal #delRef').attr('href', href);
            $('#deleteCustomerModal').modal();
        })
    });
</script>

</body>
</html>
