# User-specific stuff:
.idea/workspace.xml
/local.properties

# Directories
/.gradle/
/lib/
/build/

# User-specific stuff:
.idea/workspace.xml
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Inside modules
buildSrc/.gradle
buildSrc/build

Employee-app/build




