<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление сотрудников</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

    <div>
        <h2 >Сотрудники</h2>
    </div>

    <h3>Создать сотрудника</h3>
    <form th:action="@{/employees/create}" th:method="post" th:object="${newEmployee}" >
        <label>Имя</label>
        <input required type="text" th:field="*{firstName}" placeholder="Введите имя" style="width: 180px"/>
        <br/><br/>
        <label>Фамилия</label>
        <input required type="text" th:field="*{secondName}" placeholder="Введите фамилию" style="width: 180px"/>
        <br/><br/>
        <label>Отчество</label>
        <input required type="text" th:field="*{patronymic}" placeholder="Введите отчество" style="width: 180px"/>
        <br/><br/>
        <label>Логин</label>
        <input required type="text" th:field="*{login}" placeholder="Введите логин" style="width: 180px"/>
        <br/><br/>
        <label>Пароль</label>
        <input required type="text" th:field="*{password}" placeholder="Введите пароль" style="width: 180px"/>
        <br/><br/>
        <label>Права</label>
        <select class="form-control" th:name="selectedRights" style="width: 180px" >
            <option th:if="${allRights.isEmpty()}"
                    th:text="Empty">
            </option>

            <option th:each="rights : ${allRights}"
                    th:text="${rights.getName()}"
                    th:value="${rights.id}">
            </option>
        </select>

        <button th:type="submit">Сохранить</button>
    </form>

    <br/>




</body>

</html>