<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование данных сотрудника</title>

    <!--Basic-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">

</head>
<body>

<div class="container-fluid">

    <div class="row">
        <div class="col"></div>
        <div class="col-auto">
            <nav class="navbar navbar-expand-lg navbar-dark navbar-inverse shadow-sm border rounded-bottom bg-success" style="background: #00b300; width: 100rem">
                <a class="navbar-brand" style="color: white" th:href="@{/main}"><i class="fas fa-university"></i> App For Employee</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto" style="width: 70rem">
                        <li class="nav-item">
                            <a class="nav-link" th:if="${authorities.contains('create_edit_delete_customer')}" th:href="@{/customers}">Клиенты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:if="${authorities.contains('create_edit_delete_employee')}" th:href="@{/employees}">Сотрудники</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:if="${authorities.contains('create_edit_delete_rights')}" th:href="@{/rights}">Права</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto" style="width: auto">
                        <li class="nav-item text-light">
                            <a th:text="${loggedEmployee.secondName} + ' ' + ${loggedEmployee.firstName}"></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav order-1 order-lg-2" style="width: auto">
                        <li class="nav-item d-flex">
                            <a class="nav-link p-0 m-0" href="#" ></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" id="navigations-headers-01" href="#" role="button" data-toggle="dropdown" >
                                <i class="fas fa-user-circle" style="font-size: 20pt;"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navigations-headers-01" style="margin-top: 0.5rem; margin-left: 1rem">
                                <a class="dropdown-item" th:href="@{/profile/edit/}"><i class="far fa-address-card"></i>
                                    Профиль
                                </a>
                                <a class="dropdown-item" th:href="@{/logout}">
                                    <font color="red"><i class="fas fa-sign-out-alt" style="color: red"></i>
                                        Завершить сеанс
                                    </font>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">

        <div class="col"></div>

        <div class="col-auto" style="width: 4rem; margin-right: 5rem" >
            <a th:href="@{/main}" type="button" class="btn btn-success btn-bg" style="width: 4rem; color: white; margin-top: 3rem"><i class="fas fa-arrow-left"></i></a>
        </div>

        <div class="col-auto" style="width: 70rem" >

            <div>
                <br/>
                <h5 class="display-4">Редактирование профиля сотрудника</h5>
                <br/><br/>
            </div>

            <label for="form"><h5 class="display-4" style="font-size: 20pt">Форма редактирования</h5></label>
            <br/><br/>

            <form th:action="@{/profile/edit}" th:method="POST" th:object="${loggedEmployee}" id="form">

                <label for="firstName">Имя</label>
                <input class="form-control rounded border input-group-lg" required id="firstName" type="text" th:field="*{firstName}" placeholder="Введите имя" style="width: 250px"/>
                <br/>
                <label for="secondName">Фамилия</label>
                <input class="form-control rounded border input-group-lg" required id="secondName" type="text" th:field="*{secondName}" placeholder="Введите фамилию" style="width: 250px"/>
                <br/>
                <label for="patronymic">Отчество</label>
                <input class="form-control rounded border input-group-lg" required id="patronymic" type="text" th:field="*{patronymic}" placeholder="Введите отчество" style="width: 250px"/>
                <br/>
                <label for="login">Логин</label>
                <input class="form-control rounded border input-group-lg" required id="login" type="text" th:field="*{login}" placeholder="Введите логин" style="width: 250px"/>
                <br/>
                <label for="password">Пароль</label>
                <input class="form-control rounded border input-group-lg" required id="password" type="password" th:field="*{password}" placeholder="Введите пароль" style="width: 250px"/>
                <br/>
                <input required  type="hidden" th:field="*{salt}"/>
                <label for="rights">Схема прав</label>
                <select class="form-control" id="rights" th:name="selectedRights" style="width: 250px" th:if="${authorities.contains('create_edit_delete_rights')}">
                    <option th:if="${allRights.isEmpty()}"
                            th:text="Пусто">
                    </option>

                    <option th:each="rights : ${allRights}"
                            th:if="${rights.id == loggedEmployee.rights.id}" selected
                            th:text="${rights.getName()}"
                            th:value="${rights.id}">
                    </option>

                    <option th:each="rights : ${allRights}"
                            th:if="${rights.id != loggedEmployee.rights.id}"
                            th:text="${rights.getName()}"
                            th:value="${rights.id}">
                    </option>
                </select>
                <input hidden th:if="${!authorities.contains('create_edit_delete_rights')}" class="form-control rounded border input-group-lg" th:name="selectedRights" th:value="${loggedEmployee.rights.id}" />
                <a th:if="${!authorities.contains('create_edit_delete_rights')}" class="form-control rounded border input-group-lg" th:text="${loggedEmployee.rights.getName()}" style="width: 250px"></a>
                <br/>
                <label for="activity">Состояние аккаунта</label>
                <div id="activity">
                    <a th:if="${loggedEmployee.getActivity().equals(true)}" class="form-control rounded border input-group-lg" th:text="Активный" style="width: 250px"></a>
                    <a th:if="${loggedEmployee.getActivity().equals(false)}" class="form-control rounded border input-group-lg" th:text="Заблокированный" style="width: 250px"></a>
                </div>
                <br/>

                <div class="currentEmployee_action" style="text-align: right;">
                    <button type="submit" class="btn btn-success btn-bg" style="width: 9rem; color: white;"><i class="far fa-save"></i>&nbsp;&nbsp;Сохранить</button>
                    <button type="reset" class="btn btn-secondary btn-bg" style="width: 9rem; color: white;"><i class="fas fa-undo"></i>&nbsp;&nbsp;Отменить</button>
                    <a th:href="@{/profile/delete/}" th:if="${authorities.contains('create_edit_delete_employee')}" type="button" class="deleteEmployeeBtn btn btn-danger btn-bg" style="width: 13rem; color: white;"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Удалить профиль</a>
                </div>
            </form>

            <br/>

        </div>

        <div class="col-auto" style="width: 4rem;"></div>
        <div class="col"></div>

    </div>
</div>


<!-- Modal popup - delete the current employee-->
<div class="deleteEmployeeForm" th:if="${authorities.contains('create_edit_delete_employee')}">
    <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div style="text-align: right;margin-right: 20px;"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteEmployeeModalLabel">Удаление профиля сотрудника</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger" >
                        Вы действительно хотите удалить свой профиль?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <a href="" class="btn btn-danger" id="delRef">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Basic-->
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<!--modal popup script to delete current employee-->
<script>
    $(document).ready(function () {
        $('.currentEmployee_action .deleteEmployeeBtn ').on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');
            $('#deleteEmployeeModal #delRef').attr('href', href);
            $('#deleteEmployeeModal').modal();
        })
    });
</script>

</body>
</html>
